.title {
  font-size: 32px;
  font-weight: 500;
  color: var(--px-heading);
}

.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.dashboardContainer__column {
  width: calc(50% - 8px);
}
