<h4 class="title maven">Dashboard</h4>

<app-resumen-cards></app-resumen-cards>

<div class="dashboardContainer">
  <div class="dashboardContainer__column">
    <app-resumen-balance-ultimos></app-resumen-balance-ultimos>
    <app-resumen-gastos></app-resumen-gastos>
    <app-resumen-cuentas></app-resumen-cuentas>
  </div>
  <div class="dashboardContainer__column">
    <app-resumen-cuentas></app-resumen-cuentas>
    <app-resumen-balance-mes></app-resumen-balance-mes>
    <app-resumen-ingresos></app-resumen-ingresos>

  </div>
</div>
