<nav class="nav">
  <img src="Logo/logo.png" alt="Logo Empresa" class="nav__img">
</nav>

<div class="container">
  <div class="container__izquierda">
    <h4 class="izquierda__title maven">
      Es hora de transformar tus finanzas.
    </h4>

    <img src="Logo/login1.png" alt="Imagen Login" class="izquierda__img">

    <p class="izquierda__text maven">El camino está por delante de ti. Ya ha dado su primer paso hacia la transformación financiera y lo guiaremos en ese viaje.</p>
  </div>


  <div class="container__derecha">
    <router-outlet></router-outlet>
  </div>
</div>
