<div class="main-container" [class.expanded]="isSidebarExpanded()">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="main-content__date noto" (click)="newDate()">
      <span>junio</span>
      <i class="fa-solid fa-chevron-down"></i>

      <div class="date__select" [ngClass]="{'new_date' : new_Date}">
        <div class="select__name">
          <i class="fa-solid fa-chevron-left" (click)="cYear(-1)"></i>
          <span>{{ year }}</span>
          <i class="fa-solid fa-chevron-right" (click)="cYear(1)"></i>
        </div>
        <div class="select__months">
            <div class="months__month" *ngFor="let month of months">{{ month }}</div>
        </div>

      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
