<div class="resumen__container">

  <!-- balance -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Balance Actual</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ {{ cards.balance | number:'1.0-0' }}
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-building-columns"></i>
      </div>
    </div>
  </div>

  <!-- ingresos -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Ingresos</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ {{ cards.ingresos | number:'1.0-0' }}
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-chevron-up"></i>
      </div>
    </div>
  </div>

  <!-- gastos -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Gastos</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ {{ cards.gastos | number:'1.0-0' }}
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>

  <!-- Tarjetas -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Tarjetas</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ {{ cards.tarjetas | number:'1.0-0' }}
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-credit-card"></i>
      </div>
    </div>
  </div>

</div>
