<div class="resumen__container">

  <!-- cards -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Balance Actual</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ 639,400
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-building-columns"></i>
      </div>
    </div>
  </div>
  <!-- cards -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Ingresos</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ 639,400
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-chevron-up"></i>
      </div>
    </div>
  </div>
  <!-- cards -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Gastos</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ 639,400
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
  <!-- cards -->
  <div class="container__cards">
    <div class="cards__data maven">
      <div class="data__numbers">
        <div class="numbers__text">
          <p>Tarjetas</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="numbers__number">
          $ 639,400
        </div>
      </div>

      <div class="data__icon">
        <i class="fa-solid fa-credit-card"></i>
      </div>
    </div>
  </div>

</div>
