<div class="titleContainer">
  <h4 class="title maven">Transacciones</h4>
  <div class="actions">
    <div class="actions__action" (click)="transactionsModals()"><i class="fa-solid fa-plus"></i></div>
    <div class="actions__action"><i class="fa-solid fa-filter"></i></div>
    <div class="actions__action"><i class="fa-solid fa-ellipsis-vertical"></i></div>
  </div>
</div>

<div class="transactionsContainer">
  <div class="transactions">
    <table class="transactions__table maven">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Banco</th>
          <th>Valor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let group of transactionsGroupedByDate">
          <tr *ngFor="let transaction of group.transactions">
            <td>{{ group.date }}</td>
            <td>{{ transaction.Descripcion }}</td>
            <td>{{ transaction.NombreCategoria }}</td>
            <td>{{ transaction.NombreBanco }}</td>
            <td [ngStyle]="{'color': getMontoColor(transaction)}">$ {{ transaction.Monto | number:'1.0-0' }}</td>
            <td class="table__actions"><div><i class="fa-solid fa-ellipsis-vertical"></i></div></td>
          </tr>
          <tr class="subtotal">
            <td colspan="4">Subtotal</td>
            <td class="subtotal-value">$ {{ group.subtotal | number:'1.0-0' }}</td>
            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Resumen -->
  <div class="resumen">
    <div class="resumen__card">
      <div class="card__saldo maven">
        <p>Saldo Actual</p>
        <h5>{{ balanceMes | number:'1.0-0' }}</h5>
      </div>
      <div class="card__icon">
        <i class="fa-solid fa-coins"></i>
      </div>
    </div>
    <div class="resumen__card">
      <div class="card__saldo maven">
        <p>Ingresos</p>
        <h5>{{ ingresosMes | number:'1.0-0' }}</h5>
      </div>
      <div class="card__icon">
        <i class="fa-solid fa-angle-up"></i>
      </div>
    </div>
    <div class="resumen__card">
      <div class="card__saldo maven">
        <p>Gastos</p>
        <h5>{{ gastosMes | number:'1.0-0' }}</h5>
      </div>
      <div class="card__icon">
        <i class="fa-solid fa-angle-down"></i>
      </div>
    </div>
    <div class="resumen__card">
      <div class="card__saldo maven">
        <p>Balance Mes</p>
        <h5>{{ balanceMes | number:'1.0-0' }}</h5>
      </div>
      <div class="card__icon">
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
      </div>
    </div>
  </div>
</div>
