/* Transacciones Container */
.transactionsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.transactions {
  width: 70%;
  min-height: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  background-color: var(--px-white);
  border-radius: 25px;
  margin-top: 25px;
}

.resumenCards {
  width: 30%;
}

@media screen and (max-width: 620px) {
  .titleContainer {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    & .title {
      width: 100%;
      justify-content: flex-start;
    }
  }

  .actions {
    width: 100%;
    justify-content: flex-end;
  }

  .transactionsContainer {
    flex-direction: column-reverse;
  }

  .transactions {
    width: 100%;
    overflow-x: scroll;
  }

  .transactions__table {
    width: auto;
  }

  .resumenCards {
    width: 100%;
  }
}

/* Tabla */
.transactions__table {
  width: 100%;

  border-collapse: collapse;
  margin: 0;
  border-radius: 25px;
  overflow: hidden;
  color: var(--px-text);
  table-layout: fixed;
}

th {
  background-color: var(--px-theme);
  color: var(--px-white);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid var(--px-dark);
  white-space: nowrap;
}

td {
  padding: 20px 10px 10px;
  text-align: center;
  border-bottom: 1px solid var(--px-theme-2-opacity);
  font-size: 14px;
  white-space: nowrap;
}

.table__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  & .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: var(--px-theme-2);
      color: var(--px-white);
    }
  }
}

.subtotal {
  background-color: var(--px-theme-2-opacity);
  font-weight: bold;
  border-bottom: 1px solid var(--px-dark);
  color: var(--px-theme-2);
}

.no_data {
  width: 100%;
  text-align: center;
}

.transactions__menu {
  position: relative;
}

.transaction__menu {
  position: absolute;
  display: none;
  top: 0px;
  right: 0;
  background-color: var(--px-white);
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
  padding: 10px;
  z-index: 9999;

  &.active_t {
    display: flex;
  }

  & .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }

  & .menu__list li {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    color: #585858;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: var(--px-theme);
      color: var(--px-white);
    }
  }
}
