.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: var(--px-heading);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.actions__action {
  padding: 10px;
  background-color: var(--px-white);
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px var(--px-dark);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--px-theme-2);
    color: var(--px-white);
  }
}

/* Transacciones Container */
.transactionsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.transactions {
  width: 70%;
  min-height: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  background-color: var(--px-white);
  border-radius: 25px;
  margin-top: 25px;
}

.resumen {
  width: 30%;
  padding: 8px;
  min-width: 250px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

/* Resumen */
.resumen__card {
  padding: 16px;
  background-color: var(--px-white);
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

@media screen and (max-width: 1400px) {
  .resumen__card {
    min-width: 90%;
  }
}

.card__saldo {
  & p {
    color: var(--px-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  & h5 {
    font-size: 22px;
    color: var(--px-heading);
    font-weight: 500;
    line-height: 1.334;
    margin-top: 10px;
  }
}

.card__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--px-white);
  background-color: var(--px-theme);
}

@media screen and (max-width: 620px) {
  .titleContainer {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    & .title {
      width: 100%;
      justify-content: flex-start;
    }
  }

  .actions {
    width: 100%;
    justify-content: flex-end;
  }

  .transactionsContainer {
    flex-direction: column-reverse;
  }

  .transactions {
    width: 100%;
    overflow-x: scroll;
  }

  .transactions__table {
    width: auto;
  }

  .resumen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .resumen__card {
    min-width: 300px;
  }
}

/* Tabla */
.transactions__table {
  width: 100%;

  border-collapse: collapse;
  margin: 0;
  border-radius: 25px;
  overflow: hidden;
  color: var(--px-text);
  table-layout: fixed;
}

th {
  background-color: var(--px-theme);
  color: var(--px-white);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid var(--px-dark);
  white-space: nowrap;
}

td {
  padding: 20px 10px 10px;
  text-align: center;
  border-bottom: 1px solid var(--px-theme-2-opacity);
  font-size: 14px;
  white-space: nowrap;
}

.table__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  & div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: var(--px-theme-2);
      color: var(--px-white);
    }
  }
}

.subtotal {
  background-color: var(--px-theme-2-opacity);
  font-weight: bold;
  border-bottom: 1px solid var(--px-dark);
  color: var(--px-theme-2);
}

.no_data {
  width: 100%;
  text-align: center;
}
