<nav class="sidebar" [ngClass]="{ 'active': isSidebarExpanded() }">
  <img src="https://web.mobills.com.br/static/media/LogoNameMobillsLight.d000784f.svg" alt="Logo" class="sidebar__logo">

  <button class="sidebar__plusbutton"> <i class="fa-solid fa-plus"></i> </button>

  <ul class="sidebar__list">
    @for (item of menuItems; track item.title) {
    <li class="list__item" [routerLink]="item.href" [routerLinkActive]="'linkActive'">
      <div class="item__icon">
        <img [src]="'https://img.icons8.com/?size=48&id=' + item.icon + '&format=png'" alt="">
      </div>
      <span class="item__name maven">{{ item.title }}</span>
    </li>
    }
  </ul>
</nav>

<div (click)="toggleSidebar()" class="toggle"> <i class="fa-solid fa-bars"></i> </div>
