<nav class="sidebar" [ngClass]="{ 'active': isSidebarExpanded() }">
  <img src="https://web.mobills.com.br/static/media/LogoNameMobillsLight.d000784f.svg" alt="Logo" class="sidebar__logo">

  <button class="sidebar__plusbutton" (click)="new()">
    <i class="fa-solid fa-plus"></i>
    <div class="plusbutton__new" [ngClass]="{'news' : news}">
      <div class="new__item maven" (click)="transactionsModals('Gasto')"><i class="fa-solid fa-angle-down"></i> Gasto</div>
      <div class="new__item maven" (click)="transactionsModals('Ingreso')"><i class="fa-solid fa-angle-up"></i> Ingreso</div>
      <div class="new__item maven" (click)="transactionsModals('Transferencia')"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transferencia</div>
      <div class="new__item maven"><i class="fa-solid fa-credit-card"></i> Tarjeta de Crédito </div>
      <div class="new__item maven"><i class="fa-solid fa-book"></i> Avance Meta</div>
    </div>
  </button>

  <ul class="sidebar__list">
    @for (item of menuItems; track item.title) {
    <li class="list__item" [routerLink]="item.href" [routerLinkActive]="'linkActive'">
      <div class="item__icon">
        <img [src]="'https://img.icons8.com/?size=48&id=' + item.icon + '&format=png'" alt="">
      </div>
      <span class="item__name maven">{{ item.title }}</span>
    </li>
    }
  </ul>
</nav>

<div (click)="toggleSidebar()" class="toggle"> <i class="fa-solid fa-bars"></i> </div>


<app-transactions-modal></app-transactions-modal>
