<app-encabezados [nombre]="'Cuentas'" (botonMas)="toggleModal()"></app-encabezados>

<div class="cuentasContainer">
  <div class="cuentas">

    <!-- New counts button -->
    <div class="cuentas__new" (click)="toggleModal()">
      <div class="new__cont"><i class="fa-solid fa-plus"></i></div>
      <div class="new__text maven">Nueva Cuenta</div>
    </div>

    <!-- Counts -->
    <div class="cuentas__cuenta" *ngFor="let count of counts; index as i">
      <!-- count's title -->
      <div class="cuenta__title">
        <div class="title__name">
          <div class="name__icon"> <img [src]="count.BancoIcono" alt="Cuenta"></div>
          <h6 class="maven">{{ count.BancoNombre }}</h6>
        </div>
        <div class="title__setting" (click)="menuSetting(i)">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <div [id]="'setting__' + {i}" class="setting__menu" [ngClass]="{'active': i == activo}">
            <ul class="maven">
              <li (click)="editCuenta(count)">Editar</li>
              <li (click)="archivarCuenta(count.CuentaID, 0)">Archivar</li>
              <li>Transacciones</li>
              <li>Reajustar Saldo</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="cuenta__balance maven">
        <h6 class="balance__text">Balance</h6>
        <h6 class="balance__number">$ {{ count.Saldo | number:'1.0-0'}}</h6>
      </div>
      <!--  -->
      <div class="cuenta__button">
        <span class="noto">AÑADIR GASTO</span>
      </div>
    </div>
  </div>

  <!-- Resumen -->
  <app-resumenes class="resumenCards" [resumenes]="resumenes"></app-resumenes>
</div>


<!-- Modal crear Cuenta -->
<div class="modal__crear" [ngClass]="{'modal' : modal}">
  <!-- Contenedor -->
  <div class="crear__container">
    <!-- header -->
    <div class="container__title">
      <h5 class="title__nueva maven">{{ title }}</h5>
      <div class="title__cerrar" (click)="toggleModal()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <!-- Formulario -->
    <form action="" class="crear__form maven">
      <div class="form__saldo">
        <input type="number" placeholder="$ 0.00" [(ngModel)]="saldo" name="saldo">
      </div>

      <div class="form__banco">
        <label for="banks">Institución Financiera</label>
        <div class="banco__lista">
          <div class="lista__selected"  (click)="verBancos()">
            <div class="selected__img">
              <img [src]="bancoSelected.Icono" alt="">
            </div>
            <span>{{ bancoSelected.Nombre }}</span>
            <div class="lista__lista" [ngClass]="{'bancoss' : verBanco}">
              <div class="lista__bancos" *ngFor="let bank of banks; index as i" (click)="seleccionarBanco(i)">
                <div class="selected__img">
                  <img [src]="bank.Icono" alt="">
                </div>
                <span>{{ bank.Nombre }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__descripcion maven">
        <i class="fa-regular fa-file"></i>
        <input type="text" placeholder="Descripción" [(ngModel)]="descripcion" name="descripcion">
      </div>

      <div class="form__descripcion maven">
        <i class="fa-solid fa-building-columns"></i>
        <input type="text" placeholder="Ahorros" [(ngModel)]="bancoSelected.Tipo" disabled="" name="Tipo">
      </div>

      <div class="form__incluir">
        <div class="incluir__text">
          <i class="fa-solid fa-circle-info"></i>
          <p>Incluir en la suma del Dashboard</p>
        </div>

        <div class="incluir__toggle">
          <input type="checkbox" checked  [(ngModel)]="incluirEnDashboard" name="incluirEnDashboard">
        </div>
      </div>

      <div class="form__buttons">
        <button class="buttons__guardar" (click)="saveCuenta()">Guardar</button>
      </div>
    </form>
  </div>
</div>
