.toast__container {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 8px 12px; /* Ajuste de padding para espacio adicional */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.container__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

.text {
  color: var(--px-text);
  font-size: 16px;
  font-weight: 400;
  flex-grow: 1; /* Para que el texto ocupe el espacio disponible */
}

/* Estilos para el botón de cierre */
.close-button {
  color: #555; /* Color similar al texto */
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;

  &:hover {
    color: #000;
  }
}
