<div class="resumenContainer">
  <h6 class="resumenTitle maven">Metas</h6>

  <div class="resumenCard">
    <div class="resumenCard__content">
      <!-- Goal -->
      <div class="content__goal">
        <div class="goal__name">
          <div class="name__icon"><i class="fa-solid fa-car"></i></div>
          <div class="name__name maven">Nuevo Carro</div>
        </div>

        <div class="goal__bar">
          <div class="bar__complete"></div>
        </div>

        <div class="goal__money maven">
          $ 5,000.00 of $ 1,000,000.00
        </div>
      </div>
      <!-- Goal -->
      <div class="content__goal">
        <div class="goal__name">
          <div class="name__icon"><i class="fa-solid fa-home"></i></div>
          <div class="name__name maven">Nueva casa</div>
        </div>

        <div class="goal__bar">
          <div class="bar__complete"></div>
        </div>

        <div class="goal__money maven">
          $ 5,000.00 of $ 1,000,000.00
        </div>
      </div>
      <!-- Goal -->
      <div class="content__goal">
        <div class="goal__name">
          <div class="name__icon"><i class="fa-solid fa-plane"></i></div>
          <div class="name__name maven">Viaje Santa Marta</div>
        </div>

        <div class="goal__bar">
          <div class="bar__complete"></div>
        </div>

        <div class="goal__money maven">
          $ 5,000.00 of $ 1,000,000.00
        </div>
      </div>

    </div>

    <div class="resumenCard__footer">
      <button class="noto" routerLink="../cuentas">VER MÁS</button>
    </div>
  </div>
</div>
