<!-- Modal crear Cuenta -->
<div class="modal__crear" [ngClass]="{'modal' : transactionsModal() != 'close'}" *ngIf="banks.length">
  <!-- Contenedor -->
  <div class="crear__container">
    <!-- header -->
    <div class="container__title">
      <h5 class="title__nueva maven">Registrar {{ transactionsModal() | titlecase }}</h5>
      <div class="title__cerrar" (click)="toggleModal()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <!-- Formulario -->
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="crear__form maven">
      <div class="form__saldo">
        <input type="number" placeholder="$ 0.00" formControlName="saldo">
      </div>

      <div class="form__date">
        <div class="date__date">
          <input type="date" name="fecha" formControlName="fecha" class="maven">
          <div class="date__spec">
            <div class="date__today" (click)="setTodayDate()">Hoy</div>
            <div class="date__today" (click)="setYesterdayDate()">Ayer</div>
          </div>
        </div>
      </div>

      <div class="form__banco">
        <label for="banks">Institución Financiera</label>
        <div class="banco__lista">
          <div class="lista__selected" (click)="verBancos()">
            <div class="selected__img">
              <img [src]="bancoSelected.BancoIcono" alt="Banco">
            </div>
            <span>{{ bancoSelected.BancoNombre }}</span>
            <div class="lista__lista" [ngClass]="{'bancoss' : verBanco}">
              <div class="lista__bancos" *ngFor="let bank of banks; index as i" (click)="seleccionarBanco(i)">
                <div class="selected__img">
                  <img [src]="bank.BancoIcono" alt="">
                </div>
                <span>{{ bank.BancoNombre }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__banco">
        <label for="banks">Categoría</label>
        <div class="banco__lista">
          <div class="lista__selected categorias" (click)="verCategories()">
            <i [ngClass]="categorySelected.Icono"></i>
            <span>{{ categorySelected.Nombre }}</span>
            <div class="lista__lista" [ngClass]="{'bancoss' : verCategory}">
              <div class="lista__bancos" *ngFor="let category of categorias; index as i" (click)="seleccionarCategoria(i)">
                <i [ngClass]="category.Icono"></i>
                <span>{{ category.Nombre }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__descripcion maven">
        <i class="fa-regular fa-file"></i>
        <input type="text" placeholder="Descripción"  formControlName="descripcion">
      </div>

      <div class="form__incluir">
        <div class="incluir__text">
          <i class="fa-solid fa-circle-info"></i>
          <p>Registrar recurrente</p>
        </div>

        <div class="incluir__toggle">
          <input type="checkbox" formControlName="recurrente">
        </div>
      </div>

      <div class="form__buttons">
        <button type="submit" class="buttons__guardar">Guardar {{ transactionsModal() }}</button>
      </div>
    </form>
  </div>
</div>
